html, body{
    padding: 0;
    margin: 0;
}

.wrapper{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.sudoku{
    height: min(80vh, 80vw);
    width: min(80vh, 80vw);
    background-color: gray;
    border-radius: 5px;
    display: grid;
    grid-template-rows: repeat(9, 1fr);
    grid-template-columns: repeat(9, 1fr);
}

.cell{
    position: relative;
    border: 1px solid white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: sans-serif;
    font-size: min(5vh, 5vw);
    color: white;
    user-select: none;
}

.cell::after{
    font-size: 13px;
    font-weight: bolder;
    color: black;
    position: absolute;
    content: attr(index);
    width: 100%;
    height: 100%;
}

.cell.valid{
    background-color: rgba(0, 255, 0, 0.2);
}

.cell.invalid{
    background-color: rgba(255, 0, 0, 0.2);
}

.cell:hover::after{
    background-color: rgba(0, 0, 0, 0.14);
}

.cell.selected::after{
    background-color: rgba(0, 0, 0, 0.2);
}
